<%- include("../partials/admin/header") %>

<table>
    
    <tr><th>Set your bitcoin address</th></tr>
</table>
<form action="/admin/bitcoinAddress" method="POST">
    <input type="text" name="bitcoinAddress" >
    <button class="btn btn-success">Set</button>
</form>



<%- include("../partials/admin/footer") %>