<%- include("../partials/user/header") %>

<style>
    body {
        color: #000!important;
    }
    </style>
    <br>
    <h3>Your Referrals:</h3><br>
    <br>
    <table width=300 cellspacing=1 cellpadding=1>
    <tr>
      <td class=item>Referrals:</td>
      <td class=item>0</td>
    </tr><tr>
      <td class=item>Active referrals:</td>
      <td class=item>0</td>
    </tr><tr>
      <td class=item>Total referral commission:</td>
      <td class=item>$0.00</td>
    </tr>
    </table>
    <h3 class="title">Our Custom Banners</h3><br>
    <h4>Your Unique Referral Link: https://bx-miners.uk/?ref=john_doe_123</h4>
    <br>
    <div style="text-align:left;">
    <h4>125x125 banner</h4><br>
    <img src="styles/banners/banner_125.gif" alt="" width="125" height="125" /><br /><br>
    
    <textarea  class="reftextarea" cols=35 rows=4>
    <a href=https://bx-miners.uk/?ref=john_doe_123><img src="styles/banners/banner_125" alt="" width="125" height="125" /></a>
    </textarea><br><br>
    
    <h4>468x60 banner</h4><br>    
    <img src="styles/banners/banner_468.gif" alt="" width="468" height="60" /><br /><br>
    
    <textarea  class="reftextarea" cols=35 rows=4>
    <a href=https://bx-miners.uk/?ref=john_doe_123><img src="styles/banners/banner_468.gif" alt="" width="468" height="60" /></a>
    </textarea>
    <br><br>
    
    <h4>728x90 banner</h4><br>
    <img src="styles/banners/banner_728.gif" width=728 height=90><br><br>
    <textarea  class="reftextarea" cols=35 rows=4>
    <a href=https://bx-miners.uk/?ref=john_doe_123><img src="styles/banners/banner_728.gif" alt="" width="728" height="90" /></a>
    </textarea><br><br>
    
    </div>
    <br>
    
    
    
    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        
    
    </div>

<%- include("../partials/user/footer") %>
