<%- include("../partials/user/header") %>

<style>
    body {
        color: #000!important;
    }
    </style>
    <br>
    <h3>Your Referrals:</h3><br>
    <br>
    <table width=300 cellspacing=1 cellpadding=1>
    <tr>
      <td class=item>Referrals:</td>
      <td class=item><%= user.referral %></td>
    </tr>
    <tr>
      <td class=item>Total referral commission:</td>
      <td class=item>$<%= user.referralCommision %>.00</td>
    </tr>
    </table>
    
    
    </div>
    <br>
    
    
    
    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        
    
    </div>

<%- include("../partials/user/footer") %>
