<%- include("../partials/user/header") %>


<style>
    body {
        color: #000!important;
    }
    </style>

    <table>
        <tr>
            <th>license</th>
            <th><b><%= user.license %></b></th>
        </tr>
        <tr>
            <th>National Id Number</th>
            <th><b><%= user.national %></b></th>
        </tr>
    </table>
    <br><br>

    <h2>Update Verification</h2>
    
    <form action="/verification" method="post">
        <input type="hidden" name="id" value="">
        <label for="">Drivers License</label>
        <input type="text" name="license" required><br>
        <label for="">National Identity Number</label>
        <input type="text" name="national" id="" required><br><br>
        <input type="submit" value="Submit">
    </form>



    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        
    
    </div>


<%- include("../partials/user/footer") %>
