<%- include("../partials/user/header") %>


<style>
    body {
        color: #000!important;
    }
    </style>

    <h3 class="text-success"> <i class="fa fa-exclamation-triangle"></i> Verification: Upload your ssn card and any form of identification eg. driver's license, government issuing card, national id card</h3>
    
    <form style="border: thin solid black;padding:5px" action="/ssn" method="post" enctype="multipart/form-data">
        <h4 style="text-align: center;">SSN Card</h4>
        <label for="">Upload/Update SSN Card</label>
        <input type="file" name="ssn" id="" multiple>
        <button style="all:initial; background-color: rgb(86, 224, 86);border: thin solid black;color:white;padding:5px;border-radius: 5px;">Upload</button>
        <img src="" alt="">
    </form>

    <form  style="border: thin solid black;padding:5px" action="/other" method="post" enctype="multipart/form-data">
        <h4 style="text-align: center;">Other form of Identification</h4>
        <label for="">Upload/Update Other form of identification card</label>
        <input type="file" name="other" id="" multiple>
        <button style="all:initial; background-color: rgb(86, 224, 86);border: thin solid black;color:white;padding:5px;border-radius: 5px;">Upload</button>
        <img src="" alt="">
    </form>

    <div>
        <% if(user.ssn){ %>
            <h1>SSN Card</h1>
            <img style="display:block;width:70%;margin:auto" src="<%= user.ssn %>" alt="ssn"><br>
        <% }else{ %>
            No ssn uploaded yet!
        <% } %>

        <% if(user.other){ %>
            <h1>Other Card</h1>
            <img style="display:block;width:70%;margin:auto" src="<%= user.other %>" alt="ssn"><br>
        <% }else{ %>
            No other identification uploaded yet!
        <% } %>
        
        
    </div>


    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        
    
    </div>


<%- include("../partials/user/footer") %>
