<%- include("../partials/user/header") %>

<style>
    body {
        color: #000!important;
    }
    </style>
    <h3>Ask for withdrawal:</h3><br>
    
    
    
    
    
    
    
    <form method=post><input type="hidden" name="form_id" value="15991275549110"><input type="hidden" name="form_token" value="f026111c39b25243741d6690601a4cd0">
    <input type=hidden name=a value=withdraw>
    <input type=hidden name=action value=preview>
    
    <table cellspacing=0 cellpadding=2 border=0>
    <tr>
     <td>Account Balance:</td>
     <td>$<b>0.00</b></td>
    </tr>
    <tr><td>&nbsp;</td>
     <td> <small>
        </td>
    </tr>
    <tr>
     <td>Pending Withdrawals: </td>
     <td>$<b>0.00</b></td>
    </tr>
    
    <tr>
     <td>Your Bitcoin Account:</td>
     <td><a href=?a=edit_account><i>not set</i></a></td>
    </tr>
    </table>
    
    
    <br><br>
    You have no funds to withdraw.
    </form>
    
    
    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        
    
    </div>

<%- include("../partials/user/footer") %>
